body {
  font-family: "Times New Roman", Times, serif;
  background-color: lightgray;
}

.col-6 {
  border: solid;
}
h2 {
  width: 100%;
  background-color: gray;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}

.inputField {
  text-align: left;
}
input[type="text"] {
  height: 30px;
  width: 200px;
  background-color: lightgreen;
  font-weight: 10px;
  font-size: 20px;
  border-style: inset;
  color: black;
  margin-bottom: 2px;
  border-radius: 5px;
  vertical-align:text-top;
 
}
.submitBtn{
  margin-top: 0;
  background-color: lightgreen;
  margin-bottom: 30px;
  border-radius: 30px;
}

h6,p{
    border-style: inset;
    border-color: #89cff0;
    margin-top: 5%;
    padding: 10px;
}
h5{
    text-decoration: underline;
    color: black;
    font-weight: bolder;
    font-size: 40px;
}
.dayOne{
  text-align: center;
}
.tempOneDay{
  text-align: center;
}

.row{
  margin-left: 20px;
  
}
#five-day-forecast {
  display: inherit;
  text-align: center;
  
}

.containerForest{
  background-color: #89cff0;
}
form{

 border-radius: 10px;
background-color: #89cff0;
}
label{
  text-decoration: underline;
  font-weight: bold;
}
.clear{
 border-radius: 30px;
 background-color:lightgreen;
 margin-top: 70px;
 float: right;
}
ul{
  text-align: center;
}
li{
  border: solid;
  border-color: gray;
  border-radius: 10px;
  text-align: center;
  list-style: none;
}
#index1,
#index2,
#index3,
#index4,
#index5{
  background-color: #89cff0;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}