body {
  font-family: "Times New Roman", Times, serif;
  background-color: lightgray;
}
.grid {
  display: grid;
  grid-template-rows: 7rem 7rem;
  grid-template-columns: 10rem 10rem;
}
.col-6 {
  border: solid;
}
h2 {
  width: 100%;
  background-color: gray;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  padding: 5%;
}

.inputField {
  text-align: left;
}
input[type="text"] {
  height: 30px;
  width: 200px;
  background-color: #89cff0;
  font-weight: 10px;
  font-size: 20px;
  border-style: inset;
  color: black;
  margin-bottom: 5%;
  border-radius: 5px;
  vertical-align:text-top;
 
}
h6,p{
    border-style: inset;
    border-color: #89cff0;
    margin-top: 5%;
    padding: 10px;
}
h5{
    text-decoration: underline;
}
.dayOne{
  text-align: center;
}
.tempOneDay{
  text-align: center;
}


#five-day-forecast {
  display: inherit;
  margin: 2px;
}

.containerForest{
  background-color: #89cff0;
}

